<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todolist_detail.name}}</h1>
            <p><a href="{%url "todo_list_update" todolist_detail.pk%}">Edit</a></p>
            <p><a href="{%url "todo_list_delete" todolist_detail.pk%}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {%for task in todolist_detail.items.all%}
                        <tr>
                            <td><a href="{%url "todo_item_update" task.pk%}">{{task.task}}</a></td>
                            <td>{{task.due_date}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>